// $rust: #275076;
// @import "bourbon/_bourbon";
// @import "flexslider";
// @import "grid";
// @import "type";
// @import "module";
// @import "print";
@import "dependencies/color";
@import "dependencies/type";
@import "dependencies/layout";
@import "dependencies/viewports";
@import "foundation/reset";
@import "foundation/base";
@import "components/nav-module";
@import "components/poster-moment";
@import "components/image-slider";
// @import "vendor/flexslider";
@import "vendor/slick/slick";
@import "vendor/slick/slick-theme";


//Home Page
.campaign {
    margin-top: $l-space--xxxlarge;
}
.campaign-description {

}
.campaign-intro {

}
.campaign-intro--title {
    margin-bottom: $l-space--large;
}
.campaign-links {
    display: flex;
    box-sizing: border-box;
}
.campaign-links--item {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    margin: $l-space--xxlarge auto;
    &:nth-child(2n+1) {
        margin-right: $l-space--large;
    }
}


//Inauguration Page
.inauguration {
    margin-top: $l-space--small;
}
.inauguration-title {

}
.inauguration-info {
    display: flex;
    flex-wrap: wrap;
    p {
        @include l-textWidth;
    }
}
.inauguration-date {
    width: 50%;
    text-align: center;
    font-size: $t-size--large;
    margin: $l-space--xlarge auto;
    p {
        max-width: 20rem;
    }
}
.inauguration-address {
    width: 50%;
    text-align: center;
    font-size: $t-size--large;
    margin: $l-space--xlarge auto;
    p {
        max-width: 20rem;
    }
}


//President's Bio page
.bio {
}
.biography {
    figure[data-type=quote] {
        margin: 0;
        padding: 0;
        border: none;
    }
    blockquote {
        font-family: $t-font--one;
        font-style: normal;
        font-size: $t-size--xlarge;
        text-align: center;
        line-height: $t-lineHeight--normal;
        margin: $l-space--medium auto;
        max-width: 20em;
    }
}
.biography-title {
    text-align: center;
    font-family: $t-font--one;
    margin-top: $l-space--xlarge;
    margin-bottom: $l-space--medium;
    @include v-tablet {
        font-size: $t-size--xxlarge;
    };
    @include v-laptop {
        font-size: $t-size--xxlarge;
        // display: inline-block;
        // position: absolute;
        // margin: 0;
        // padding-bottom: 1rem;
        // max-width: 15em;
        // transform: rotateZ(270deg) translate(-100%, -100%);
        // transform-origin: top left;
    };
    @include v-desktop;
}
.biography-title--timeline {
    margin: 0 auto;
    font-size: $t-size--xlarge;
    max-width: 40rem;
}


// timeline
.timeline {
    margin: $l-space--large auto 0 auto;
    font-size: $t-size--medium;
    border-top: 4px solid $c-one;
    border-bottom: 4px solid $c-one;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
    &:after {
        content:"";
        display:table;
        clear:both;
    }
    p {
        max-width: 15em;
    }
}
.timeline-entry{
	width:50%;
    text-align: center;
    border-bottom: 4px solid $c-one;
    box-sizing: border-box;
    padding: $l-space--xxlarge 0;
    &:nth-child(odd) {
        border-right: 4px solid $c-one;
        float: left;
        .timeline-entry--item {
            margin-left: 20%;
        }
    }
    &:nth-child(even) {
        float: right;
        .timeline-entry--item {
            margin-right: 20%;
        }
    }
    &:first-child {
        padding: $l-space--large 0;
    }
    &:last-child {
        border-bottom: none;
        padding: $l-space--xlarge 0;
    }
    &:nth-last-child(2) {
        border-bottom: none;
    }
}
.timeline-title{
    font-family: $t-font--one;
    padding: 0 $l-space--medium;
}
.timeline-date{
    font-family: $t-font--one;
    font-size: $t-size--xxlarge;
    padding: 0 $l-space--medium;
    line-height: $t-lineHeight--tight;
}



//Fact Sheet
.infoGraphic-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 4px solid $c-one;
    margin-bottom: $l-space--medium;
}
.infoGraphic-category--title {
    text-align: center;
    font-family: $t-font--one;
    margin-top: $l-space--xlarge;
    margin-bottom: $l-space--xlarge;
    width: 100%;
}
.infoGraphic-item {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: $l-space--xlarge;
}
.infoGraphic-item--title {
    font-size: $t-size--small;
    text-transform: uppercase;
    margin-bottom: $l-space--small;

    span {
        border-bottom: 4px solid $c-one;
        padding-bottom: 0.2rem;
    }
}
.infoGraphic-item--data {
    margin-bottom: 0;
}
.infoGraphic-item--note {
    text-align: center;
}
.factSheet-description {
    margin-top: $l-space--xxlarge;
    h3 {
        text-align: center;
        font-family: $t-font--one;
        margin-top: $l-space--medium;
        margin-bottom: $l-space--medium;
    }
}
.factSheet-description--item {
    font-size: $t-size--medium;
    margin-top: $l-space--small;
    margin-bottom: $l-space--xxlarge;
    @include l-textWidth;
}
.factSheet-description--image {
    max-width: 100%;
    border: 4px solid $c-one;
    box-sizing: border-box;
}




//Hero Images
.image-break {
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-bottom: $l-space--large;
}
.image-container {
    width: 90%;
    height: 90vh;
    background-position: 50% 25%;
    box-sizing: border-box;
    border: 4px solid $c-one;
}

//Links
.narrativeLinks {
    text-align: center;
    box-sizing: border-box;
    font-family: $t-font--one;
    margin: $l-space--medium auto 0 auto;
    a {
        display: inline-block;
        // max-width: 20rem;
        padding: $l-space--small;
        border: 4px solid $c-one;
    }
}
.narrativeLinks-item {
    font-family: $t-font--one;
}
.externalLinks {
    text-align: center;
    box-sizing: border-box;
    font-family: $t-font--two;
    a {
        display: inline-block;
        max-width: 20rem;
    }
    span {
        border-bottom: 2px solid $c-one;
    }
}
