<section class="posterMoment">
    <div class="risd-quadrant">
        <div class="risd-container"><h1 class="risd-text">R</h1></div>
        <div class="posterItems">
            <div class="posterItem-box--large animateText">
                <div class="posterItem-campaignText--large"><h2><span>Questions</span> </br>that don’t </br>exist yet.</h2></div>
            </div>
        </div>
    </div>
    <div class="risd-quadrant">
        <div class="risd-container"><h1 class="risd-text">I</h1></div>
        <div class="posterItems">
            <div class="posterItem-box--small">
                <h3 class="posterItem-campaignText--small animateText"><span>Colors</span> </br>that don’t </br>exist yet.</h3>
            </div>
            <div class="posterItem-box--small">
                <h3 class="posterItem-campaignText--small animateText"><span>Cities</span> </br>that don’t </br>exist yet.</h3>
            </div>
            <div class="posterItem-box--small">
                <h3 class="posterItem-campaignText--small animateText"><span>Subcultures</span> </br>that don’t </br>exist yet.</h3>
            </div>
            <div class="posterItem-box--small">
                <h3 class="posterItem-inaugurationText--small animateText">Welcoming </br> RISD’s </br>17th </br> President</h3>
            </div>
        </div>
    </div>
    <div class="risd-quadrant">
        <div class="risd-container"><h1 class="risd-text">S</h1></div>
        <div class="posterItems">
            <div class="posterItem-box--small">
                <h3 class="posterItem-campaignText--small animateText"><span>Jobs</span> </br>that don’t </br>exist yet.</h3>
            </div>
            <div class="posterItem-box--small">
                <h3 class="posterItem-campaignText--small animateText"><span>Networks</span> </br>that don’t </br>exist yet.</h3>
            </div>
            <div class="posterItem-box--small">
                <h3 class="posterItem-inaugurationText--small animateText">The </br>Inauguration </br>of </br>Rosanne </br>Somerson </br>2015</h3>
            </div>
            <div class="posterItem-box--small">
                <h3 class="posterItem-campaignText--small animateText"><span>Materials</span> </br>that don’t </br>exist yet.</h3>
            </div>
        </div>
    </div>
    <div class="risd-quadrant">
        <div class="risd-container"><h1 class="risd-text">D</h1></div>
        <div class="posterItems">
            <div class="posterItem-box--large animateText">
                <div class="posterItem-campaignText--large"><h2><span>Ideas</span> </br>that don’t </br>exist yet.</h2></div>
            </div>
        </div>
    </div>
</section>
