<nav class="second-nav">
	<div class="container">
		<ul class="eight columns offset-by-two">
			<li><a class="nav-link"href="../false-index">home</a></li>
			<li><a class="nav-link"href="../bio">president’s bio</a></li>
			<li><a class="nav-link"href="../fact-sheet">risd facts</a></li>
			<li><a class="nav-link"href="../press">press release</a></li>
			<li><a class="nav-link"href="../past-presidents">former leaders</a></li>
			<li><a class="nav-link"href="../search-process">search process</a></li>
		</ul>
	</div>

</nav>