@charset "UTF-8";
/*
 * jQuery FlexSlider v2.3.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Ville Ristimäki (@villeristi)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }

.flexslider .slides {
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.flex-direction-nav a:before {
  font-family: Times;
  font-size: 40px;
  display: inline-block;
  content: '⇠'; }

.flex-direction-nav a.flex-next:before {
  content: '⇢'; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1.0;
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1.0;
  right: 10px; }

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: Times;
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a .flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 8px;
  height: 8px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #275076;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .eight.columns .four.columns {
    width: 48%; } }
/* Larger than tablet */
@media (min-width: 750px) {
  .eight.columns .four.columns {
    width: 30.6666666667%; } }
/* Larger than desktop */
/* Larger than Desktop HD */
body {
  font-size: 20px; }

@font-face {
  font-family: "Calibre Web";
  src: url("../fonts/CalibreWeb-Regular.woff"), url("../fonts/CalibreWeb-Regular.eot");
  font-weight: 300; }
@font-face {
  font-family: "Calibre Web Italic";
  src: url("../fonts/CalibreWeb-RegularItalic.woff"), url("../fonts/CalibreWeb-RegularItalic.eot");
  font-weight: 300; }
@font-face {
  font-family: "Calibre Web Semibold";
  src: url("../fonts/CalibreWeb-Semibold.woff"), url("../fonts/CalibreWeb-Semibold.eot");
  font-weight: 600; }
@font-face {
  font-family: "Calibre Web Semibold Italic";
  src: url("../fonts/CalibreWeb-SemiboldItalic.woff"), url("../fonts/CalibreWeb-SemiboldItalic.eot");
  font-weight: 300; }
.main-title {
  mix-blend-mode: normal; }
  @media screen and (min-width: 550px) {
    .main-title {
      font-size: 120px;
      margin-bottom: 0.25em; } }

h1 {
  letter-spacing: -0.025em;
  line-height: 0.9em;
  mix-blend-mode: multiply; }
  @media screen and (min-width: 550px) {
    h1 {
      font-size: 100px;
      margin-top: 0.25em; } }
  @media screen and (min-width: 750px) {
    h1 {
      font-size: 170px; } }
  @media screen and (min-width: 900px) {
    h1 {
      font-size: 200px;
      margin-top: -0.125em; } }

h2 {
  line-height: 1.1em; }
  @media screen and (min-width: 550px) {
    h2 {
      font-size: 1.25em; } }
  @media screen and (min-width: 750px) {
    h2 {
      font-size: 1.5em; } }

strong,
b {
  font-family: "Calibre Web Semibold"; }

em,
i {
  font-family: "Calibre Web Italic";
  font-style: normal; }

h1, h2, h3, h4 {
  font-family: "Calibre Web Semibold", Avenir, Helvetica, Arial, Sans-serif;
  font-weight: normal;
  color: #275076; }

h3 {
  letter-spacing: 0.45px; }

p, li, figcaption {
  font-family: "Calibre Web", Avenir, Helvetica, Arial, Sans-serif;
  letter-spacing: 0.25px; }

h4 {
  margin-top: 1em; }

strong, b {
  font-weight: 500; }

body {
  background: #fafafa;
  color: #1e1e1e; }

.hamburger {
  position: fixed;
  z-index: 40;
  width: 100%;
  padding-top: 0.5em; }
  .hamburger .hamburger-activator {
    max-width: 30px;
    max-height: 30px; }
    .hamburger .hamburger-activator line {
      stroke: #275076;
      stroke-width: 3; }
  .hamburger .hamburger-activator:hover {
    cursor: pointer; }

.main-nav {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 20;
  bottom: 0em; }
  .main-nav ul {
    padding: none; }
    .main-nav ul li {
      list-style: none; }
  .main-nav a.risd-link:link {
    border-bottom: none; }
  .main-nav svg#risd-seal {
    z-index: 10;
    max-width: 50px;
    max-height: 50px;
    mix-blend-mode: multiply; }
    .main-nav svg#risd-seal path {
      fill: #275076;
      mix-blend-mode: multiply; }
  .main-nav svg#risd-seal:hover path {
    fill: #1e1e1e; }

.main-nav:hover {
  mix-blend-mode: none; }

.second-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
  left: -100%;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out; }
  .second-nav ul {
    margin-top: 2em;
    padding: 0; }
    .second-nav ul li {
      font-size: 2em;
      line-height: 1em;
      list-style: none; }
      @media screen and (min-width: 550px) {
        .second-nav ul li {
          font-size: 2.5em;
          line-height: 1em; } }
      @media screen and (min-width: 700px) {
        .second-nav ul li {
          font-size: 3em; } }
      @media screen and (min-width: 1000px) {
        .second-nav ul li {
          font-size: 4em; } }
  .second-nav svg#risd-seal {
    max-width: 50px;
    max-height: 50px; }

.second-nav.on {
  left: 0%; }

section {
  padding-bottom: 6em;
  padding-top: 3em;
  border-bottom: 1px solid #275076; }

a:link,
a:visited {
  color: #275076;
  text-decoration: none;
  border-bottom: 1px solid #275076; }

a:hover {
  color: #1e1e1e; }

img {
  max-width: 100%; }

.image-break {
  min-height: 80vh;
  background-size: cover; }

#press-release,
#facts,
#past-presidents,
#search-process {
  background-position: -60vw 0; }
  @media screen and (min-width: 550px) {
    #press-release,
    #facts,
    #past-presidents,
    #search-process {
      background-position: -30vw 0; } }
  @media screen and (min-width: 720px) {
    #press-release,
    #facts,
    #past-presidents,
    #search-process {
      background-position: 0vw 0; } }

.title-slide {
  background-position: -70vw 0; }
  .title-slide h1.main-title {
    color: #275076;
    text-align: left;
    margin-top: 1em;
    line-height: 1em;
    margin-bottom: 0em; }
  @media screen and (min-width: 550px) {
    .title-slide {
      background-position: -20vw 0; } }
  @media screen and (min-width: 800px) {
    .title-slide {
      background-position: 0 0; } }

.info-graphic-group {
  border-bottom: 1px solid gainsboro; }

.info-graphic-group:hover .info-graphic-data {
  color: #275076; }

.info-graphic-group:last-child {
  border-bottom: none; }

.info-graphic-title,
.timeline-title {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-bottom: 1px solid black;
  margin-top: 0.5em;
  font-size: 0.8em;
  line-height: 1.2em;
  margin-bottom: 1.5em;
  padding-right: 1em;
  padding-bottom: 0.5em; }

.info-graphic-data,
.timeline-date {
  font-size: 2.5em;
  margin-bottom: 0.25em;
  margin-top: -0.25em;
  line-height: 1em;
  font-family: "Calibre Web Semibold";
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum'; }

.info-graphic-note {
  margin-top: 0em; }

.info-graphic:nth-child(3) {
  margin-left: 0; }

@media screen and (max-width: 549px) {
  .info-graphic {
    margin-left: 0; } }

.info-graphic:nth-child(5) {
  margin-left: 0; }

.timeline-entry {
  width: 50%;
  padding-bottom: 2em; }

.timeline-title {
  margin-top: 0em; }

.timeline-date {
  margin-bottom: 0em;
  color: #275076; }

.timeline-entry:nth-child(odd) {
  border-left: 4px solid #275076;
  margin-left: 50%; }
  .timeline-entry:nth-child(odd) .timeline-title {
    padding-left: 0.5em; }
  .timeline-entry:nth-child(odd) .timeline-date {
    padding-left: 0.125em; }

.timeline-entry:nth-child(even) {
  border-right: 4px solid #275076; }

.wy-figure-left {
  margin-left: -10%; }

figure[data-type=quote] {
  border-left: none;
  margin-left: 0em;
  padding-left: 0em; }
  @media screen and (min-width: 750px) {
    figure[data-type=quote] {
      margin-left: 1em; } }
  figure[data-type=quote] blockquote {
    font-family: "Calibre Web Semibold";
    font-style: normal;
    font-size: 1.333333em;
    color: #275076;
    margin-left: 0em;
    margin-right: 0em; }
    @media screen and (min-width: 750px) {
      figure[data-type=quote] blockquote {
        margin-left: 1em; } }
  figure[data-type=quote] cite {
    font-family: "Calibre Web";
    font-style: normal;
    font-size: 20px;
    font-weight: normal; }

figure[data-type=quote].side-rail {
  margin: 0em;
  padding: 0em; }
  figure[data-type=quote].side-rail blockquote {
    font-size: 20px;
    margin: 0em; }

.image-gallery ul {
  list-style: none; }

.flexslider {
  background: none;
  border: none; }

.slides li {
  margin-bottom: 0em; }

p.caption {
  font-size: 0.8em;
  margin-top: 0.5em;
  color: #969696;
  margin-bottom: 0em;
  line-height: 1.2em;
  letter-spacing: 1px; }

.fact-sheet .three.columns {
  margin-left: 0;
  margin-top: 4.25em; }

.press-images .press-image {
  width: 30%;
  margin: 0; }
  .press-images .press-image .press-image-wrapper {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px; }

a.flex-next,
a.flex-prev {
  color: white;
  border-bottom: none; }

.past-president {
  margin-bottom: 2em; }

.past-president-portrait {
  max-height: 7em;
  opacity: 0.5;
  mix-blend-mode: multiply;
  border-radius: 100%;
  border: 4px solid white;
  box-shadow: 0px 0px 1px #c8c8c8;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }

.past-president:hover .past-president-portrait {
  opacity: 1.0; }

svg#search-process {
  max-width: 100%; }
  svg#search-process tspan,
  svg#search-process text {
    font-family: "Calibre Web";
    text-transform: uppercase;
    letter-spacing: 0.05em; }
    @media screen and (max-width: 549px) {
      svg#search-process tspan,
      svg#search-process text {
        font-size: 32px; } }
  svg#search-process g#core-search-committee rect {
    stroke-width: 4px; }
  svg#search-process g rect {
    stroke-width: 1px;
    stroke: #275076;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  svg#search-process g:hover rect {
    fill: #275076; }
  svg#search-process g:hover tspan,
  svg#search-process g:hover text {
    fill: white; }

.committee-group {
  border-bottom: 1px solid gainsboro; }

.committee-member {
  font-size: 0.8em;
  line-height: 1.5em; }

@media screen and (min-width: 768px) {
  .core.committee-member:nth-child(1),
  .core.committee-member:nth-child(2),
  .core.committee-member:nth-child(3) {
    min-height: 15.5em; } }

.core.committee-member:nth-child(4),
.core.committee-member:nth-child(7) {
  margin-left: 0; }

.core.committee-member:nth-child(4),
.core.committee-member:nth-child(5),
.core.committee-member:nth-child(6) {
  min-height: 8em; }

img.side-rail {
  margin-top: 1em; }
