@font-face {
  font-family: Circular;
  src: url("../fonts/lineto-circular-book.woff");
  font-weight: 400;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Roman.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Bold.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-BolIta.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Roman-Pro.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Italic-Pro.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Bold-Pro.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-BoldItalic-Pro.otf");
  font-weight: 900;
  font-style: italic;
}
.wideColumn {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
}
.wideColumn:before {
  content: '';
  display: table;
}
.wideColumn:after {
  content: '';
  display: table;
  clear: both;
}

.twoColumn {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
}

.twoColumn:before {
  content: '';
  display: table;
}

.twoColumn:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .twoColumn {
    *zoom: 1;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .twoColumn:before {
    content: '';
    display: table;
  }
  .twoColumn:after {
    content: '';
    display: table;
    clear: both;
  }
}
.twoColumn img {
  width: 100%;
}

.twoColumn-width--equal {
  width: calc(99.99% * 1 - (4.165rem - 4.165rem * 1));
  box-sizing: border-box;
}

.twoColumn-width--equal:nth-child(n) {
  float: left;
  margin-right: 4.165rem;
  clear: none;
}

.twoColumn-width--equal:last-child {
  margin-right: 0;
}

.twoColumn-width--equal:nth-child(1n) {
  margin-right: 0;
}

.twoColumn-width--equal:nth-child(1n + 1) {
  clear: left;
}
@media (min-width: 768px) {
  .twoColumn-width--equal {
    width: calc(99.99% * 1/2 - (4.165rem - 4.165rem * 1/2));
    margin-right: 4.165rem;
    padding: 2.499rem;
  }
  .twoColumn-width--equal:nth-child(n) {
    float: left;
    margin-right: 4.165rem;
    clear: none;
  }
  .twoColumn-width--equal:last-child {
    margin-right: 0;
  }
  .twoColumn-width--equal:nth-child(2n) {
    margin-right: 0;
  }
  .twoColumn-width--equal:nth-child(2n + 1) {
    clear: left;
  }
  .twoColumn-width--equal p {
    max-width: 30em;
  }
  .twoColumn-width--equal img {
    width: 100%;
  }
}

.twoColumn-width--small {
  width: calc(99.99% * 1 - (4.165rem - 4.165rem * 1));
  box-sizing: border-box;
}

.twoColumn-width--small:nth-child(n) {
  float: left;
  margin-right: 4.165rem;
  clear: none;
}

.twoColumn-width--small:last-child {
  margin-right: 0;
}

.twoColumn-width--small:nth-child(1n) {
  margin-right: 0;
}

.twoColumn-width--small:nth-child(1n + 1) {
  clear: left;
}
@media (min-width: 768px) {
  .twoColumn-width--small {
    width: calc(99.99% * 2/5 - (4.165rem - 4.165rem * 2/5));
    margin-right: 4.165rem;
    padding: 2.499rem;
  }
  .twoColumn-width--small:nth-child(n) {
    float: left;
    margin-right: 4.165rem;
    clear: none;
  }
  .twoColumn-width--small:last-child {
    margin-right: 0;
  }
  .twoColumn-width--small:nth-child(2n) {
    margin-right: 0;
  }
  .twoColumn-width--small:nth-child(2n + 1) {
    clear: left;
  }
  .twoColumn-width--small p {
    max-width: 30em;
  }
}

.twoColumn-width--large {
  width: calc(99.99% * 1 - (4.165rem - 4.165rem * 1));
  box-sizing: border-box;
}

.twoColumn-width--large:nth-child(n) {
  float: left;
  margin-right: 4.165rem;
  clear: none;
}

.twoColumn-width--large:last-child {
  margin-right: 0;
}

.twoColumn-width--large:nth-child(1n) {
  margin-right: 0;
}

.twoColumn-width--large:nth-child(1n + 1) {
  clear: left;
}
@media (min-width: 768px) {
  .twoColumn-width--large {
    width: calc(99.99% * 3/5 - (4.165rem - 4.165rem * 3/5));
    margin-right: 4.165rem;
    padding: 2.499rem;
  }
  .twoColumn-width--large:nth-child(n) {
    float: left;
    margin-right: 4.165rem;
    clear: none;
  }
  .twoColumn-width--large:last-child {
    margin-right: 0;
  }
  .twoColumn-width--large:nth-child(2n) {
    margin-right: 0;
  }
  .twoColumn-width--large:nth-child(2n + 1) {
    clear: left;
  }
  .twoColumn-width--large p {
    max-width: 30em;
  }
}

/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
}

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
img {
  border: 0;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield;
}

/* Tables */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Circular", "Helvetica", "sans-serif";
  line-height: 1.666;
  font-weight: 400;
  font-size: 13px;
  color: #4b4b4b;
  background-color: #fff500;
}

body {
  font-size: 1.5rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  display: block;
}
p a {
  display: initial;
}

strong, b {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

p {
  margin-bottom: 0.833rem;
}

h1 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.833rem;
  margin-left: -0.5rem;
}

h2 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  font-family: "Mercury Text", "Georgia", "serif";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.666;
}

h5, h6 {
  font-family: "Mercury Text", "Georgia", "serif";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.666;
}

blockquote {
  margin-left: 4.165rem;
}

ol {
  list-style-type: decimal-leading-zero;
  list-style-position: outside;
  list-style-image: none;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
}

div,
img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 300px;
}
main {
  *zoom: 1;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.664rem;
}
main:before {
  content: '';
  display: table;
}
main:after {
  content: '';
  display: table;
  clear: both;
}

section {
  box-sizing: border-box;
}

@font-face {
  font-family: Circular;
  src: url("../fonts/lineto-circular-book.woff");
  font-weight: 400;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Roman.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Bold.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-BolIta.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Roman-Pro.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Italic-Pro.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Bold-Pro.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-BoldItalic-Pro.otf");
  font-weight: 900;
  font-style: italic;
}
.wideColumn {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
}
.wideColumn:before {
  content: '';
  display: table;
}
.wideColumn:after {
  content: '';
  display: table;
  clear: both;
}

.twoColumn {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
}

.twoColumn:before {
  content: '';
  display: table;
}

.twoColumn:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .twoColumn {
    *zoom: 1;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .twoColumn:before {
    content: '';
    display: table;
  }
  .twoColumn:after {
    content: '';
    display: table;
    clear: both;
  }
}
.twoColumn img {
  width: 100%;
}

.twoColumn-width--equal {
  width: calc(99.99% * 1 - (4.165rem - 4.165rem * 1));
  box-sizing: border-box;
}

.twoColumn-width--equal:nth-child(n) {
  float: left;
  margin-right: 4.165rem;
  clear: none;
}

.twoColumn-width--equal:last-child {
  margin-right: 0;
}

.twoColumn-width--equal:nth-child(1n) {
  margin-right: 0;
}

.twoColumn-width--equal:nth-child(1n + 1) {
  clear: left;
}
@media (min-width: 768px) {
  .twoColumn-width--equal {
    width: calc(99.99% * 1/2 - (4.165rem - 4.165rem * 1/2));
    margin-right: 4.165rem;
    padding: 2.499rem;
  }
  .twoColumn-width--equal:nth-child(n) {
    float: left;
    margin-right: 4.165rem;
    clear: none;
  }
  .twoColumn-width--equal:last-child {
    margin-right: 0;
  }
  .twoColumn-width--equal:nth-child(2n) {
    margin-right: 0;
  }
  .twoColumn-width--equal:nth-child(2n + 1) {
    clear: left;
  }
  .twoColumn-width--equal p {
    max-width: 30em;
  }
  .twoColumn-width--equal img {
    width: 100%;
  }
}

.twoColumn-width--small {
  width: calc(99.99% * 1 - (4.165rem - 4.165rem * 1));
  box-sizing: border-box;
}

.twoColumn-width--small:nth-child(n) {
  float: left;
  margin-right: 4.165rem;
  clear: none;
}

.twoColumn-width--small:last-child {
  margin-right: 0;
}

.twoColumn-width--small:nth-child(1n) {
  margin-right: 0;
}

.twoColumn-width--small:nth-child(1n + 1) {
  clear: left;
}
@media (min-width: 768px) {
  .twoColumn-width--small {
    width: calc(99.99% * 2/5 - (4.165rem - 4.165rem * 2/5));
    margin-right: 4.165rem;
    padding: 2.499rem;
  }
  .twoColumn-width--small:nth-child(n) {
    float: left;
    margin-right: 4.165rem;
    clear: none;
  }
  .twoColumn-width--small:last-child {
    margin-right: 0;
  }
  .twoColumn-width--small:nth-child(2n) {
    margin-right: 0;
  }
  .twoColumn-width--small:nth-child(2n + 1) {
    clear: left;
  }
  .twoColumn-width--small p {
    max-width: 30em;
  }
}

.twoColumn-width--large {
  width: calc(99.99% * 1 - (4.165rem - 4.165rem * 1));
  box-sizing: border-box;
}

.twoColumn-width--large:nth-child(n) {
  float: left;
  margin-right: 4.165rem;
  clear: none;
}

.twoColumn-width--large:last-child {
  margin-right: 0;
}

.twoColumn-width--large:nth-child(1n) {
  margin-right: 0;
}

.twoColumn-width--large:nth-child(1n + 1) {
  clear: left;
}
@media (min-width: 768px) {
  .twoColumn-width--large {
    width: calc(99.99% * 3/5 - (4.165rem - 4.165rem * 3/5));
    margin-right: 4.165rem;
    padding: 2.499rem;
  }
  .twoColumn-width--large:nth-child(n) {
    float: left;
    margin-right: 4.165rem;
    clear: none;
  }
  .twoColumn-width--large:last-child {
    margin-right: 0;
  }
  .twoColumn-width--large:nth-child(2n) {
    margin-right: 0;
  }
  .twoColumn-width--large:nth-child(2n + 1) {
    clear: left;
  }
  .twoColumn-width--large p {
    max-width: 30em;
  }
}

/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
}

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
img {
  border: 0;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield;
}

/* Tables */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Circular", "Helvetica", "sans-serif";
  line-height: 1.666;
  font-weight: 400;
  font-size: 13px;
  color: #4b4b4b;
  background-color: #fff500;
}

body {
  font-size: 1.5rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  display: block;
}
p a {
  display: initial;
}

strong, b {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

p {
  margin-bottom: 0.833rem;
}

h1 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.833rem;
  margin-left: -0.5rem;
}

h2 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  font-family: "Mercury Text", "Georgia", "serif";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.666;
}

h5, h6 {
  font-family: "Mercury Text", "Georgia", "serif";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.666;
}

blockquote {
  margin-left: 4.165rem;
}

ol {
  list-style-type: decimal-leading-zero;
  list-style-position: outside;
  list-style-image: none;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
}

div,
img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 300px;
}
main {
  *zoom: 1;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.664rem;
}
main:before {
  content: '';
  display: table;
}
main:after {
  content: '';
  display: table;
  clear: both;
}

section {
  box-sizing: border-box;
}

.header-fixed {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding-top: 0.5em;
}

.hamburger-activator {
  max-width: 30px;
  max-height: 30px;
}
.hamburger-activator:hover {
  cursor: pointer;
}
.hamburger-activator line {
  stroke: #4b4b4b;
  stroke-width: 3;
}

.risd-link {
  position: absolute;
  right: 0;
  display: inline-block;
}

svg#risd-seal {
  z-index: 1010;
  max-width: 50px;
  max-height: 50px;
}
svg#risd-seal path {
  fill: white;
}

svg#risd-seal:hover path {
  fill: #4b4b4b;
}

.mainNav {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 900;
  left: -100%;
  transition: left 0.4s ease-in-out;
}

.mainNav-item {
  font-size: 2em;
  line-height: 1em;
}
@media screen and (min-width: 550px) {
  .mainNav-item {
    font-size: 2.5em;
    line-height: 1em;
  }
}
@media screen and (min-width: 700px) {
  .mainNav-item {
    font-size: 3em;
  }
}
@media screen and (min-width: 1000px) {
  .mainNav-item {
    font-size: 4em;
  }
}

.on {
  left: 0%;
}

@font-face {
  font-family: Circular;
  src: url("../fonts/lineto-circular-book.woff");
  font-weight: 400;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Roman.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Bold.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-BolIta.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Roman-Pro.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Italic-Pro.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Bold-Pro.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-BoldItalic-Pro.otf");
  font-weight: 900;
  font-style: italic;
}
.wideColumn {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
}
.wideColumn:before {
  content: '';
  display: table;
}
.wideColumn:after {
  content: '';
  display: table;
  clear: both;
}

.twoColumn {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
}

.twoColumn:before {
  content: '';
  display: table;
}

.twoColumn:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .twoColumn {
    *zoom: 1;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .twoColumn:before {
    content: '';
    display: table;
  }
  .twoColumn:after {
    content: '';
    display: table;
    clear: both;
  }
}
.twoColumn img {
  width: 100%;
}

.twoColumn-width--equal {
  width: calc(99.99% * 1 - (4.165rem - 4.165rem * 1));
  box-sizing: border-box;
}

.twoColumn-width--equal:nth-child(n) {
  float: left;
  margin-right: 4.165rem;
  clear: none;
}

.twoColumn-width--equal:last-child {
  margin-right: 0;
}

.twoColumn-width--equal:nth-child(1n) {
  margin-right: 0;
}

.twoColumn-width--equal:nth-child(1n + 1) {
  clear: left;
}
@media (min-width: 768px) {
  .twoColumn-width--equal {
    width: calc(99.99% * 1/2 - (4.165rem - 4.165rem * 1/2));
    margin-right: 4.165rem;
    padding: 2.499rem;
  }
  .twoColumn-width--equal:nth-child(n) {
    float: left;
    margin-right: 4.165rem;
    clear: none;
  }
  .twoColumn-width--equal:last-child {
    margin-right: 0;
  }
  .twoColumn-width--equal:nth-child(2n) {
    margin-right: 0;
  }
  .twoColumn-width--equal:nth-child(2n + 1) {
    clear: left;
  }
  .twoColumn-width--equal p {
    max-width: 30em;
  }
  .twoColumn-width--equal img {
    width: 100%;
  }
}

.twoColumn-width--small {
  width: calc(99.99% * 1 - (4.165rem - 4.165rem * 1));
  box-sizing: border-box;
}

.twoColumn-width--small:nth-child(n) {
  float: left;
  margin-right: 4.165rem;
  clear: none;
}

.twoColumn-width--small:last-child {
  margin-right: 0;
}

.twoColumn-width--small:nth-child(1n) {
  margin-right: 0;
}

.twoColumn-width--small:nth-child(1n + 1) {
  clear: left;
}
@media (min-width: 768px) {
  .twoColumn-width--small {
    width: calc(99.99% * 2/5 - (4.165rem - 4.165rem * 2/5));
    margin-right: 4.165rem;
    padding: 2.499rem;
  }
  .twoColumn-width--small:nth-child(n) {
    float: left;
    margin-right: 4.165rem;
    clear: none;
  }
  .twoColumn-width--small:last-child {
    margin-right: 0;
  }
  .twoColumn-width--small:nth-child(2n) {
    margin-right: 0;
  }
  .twoColumn-width--small:nth-child(2n + 1) {
    clear: left;
  }
  .twoColumn-width--small p {
    max-width: 30em;
  }
}

.twoColumn-width--large {
  width: calc(99.99% * 1 - (4.165rem - 4.165rem * 1));
  box-sizing: border-box;
}

.twoColumn-width--large:nth-child(n) {
  float: left;
  margin-right: 4.165rem;
  clear: none;
}

.twoColumn-width--large:last-child {
  margin-right: 0;
}

.twoColumn-width--large:nth-child(1n) {
  margin-right: 0;
}

.twoColumn-width--large:nth-child(1n + 1) {
  clear: left;
}
@media (min-width: 768px) {
  .twoColumn-width--large {
    width: calc(99.99% * 3/5 - (4.165rem - 4.165rem * 3/5));
    margin-right: 4.165rem;
    padding: 2.499rem;
  }
  .twoColumn-width--large:nth-child(n) {
    float: left;
    margin-right: 4.165rem;
    clear: none;
  }
  .twoColumn-width--large:last-child {
    margin-right: 0;
  }
  .twoColumn-width--large:nth-child(2n) {
    margin-right: 0;
  }
  .twoColumn-width--large:nth-child(2n + 1) {
    clear: left;
  }
  .twoColumn-width--large p {
    max-width: 30em;
  }
}

/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
}

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
img {
  border: 0;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield;
}

/* Tables */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Circular", "Helvetica", "sans-serif";
  line-height: 1.666;
  font-weight: 400;
  font-size: 13px;
  color: #4b4b4b;
  background-color: #fff500;
}

body {
  font-size: 1.5rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  display: block;
}
p a {
  display: initial;
}

strong, b {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

p {
  margin-bottom: 0.833rem;
}

h1 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.833rem;
  margin-left: -0.5rem;
}

h2 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  font-family: "Mercury Text", "Georgia", "serif";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.666;
}

h5, h6 {
  font-family: "Mercury Text", "Georgia", "serif";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.666;
}

blockquote {
  margin-left: 4.165rem;
}

ol {
  list-style-type: decimal-leading-zero;
  list-style-position: outside;
  list-style-image: none;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
}

div,
img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 300px;
}
main {
  *zoom: 1;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.664rem;
}
main:before {
  content: '';
  display: table;
}
main:after {
  content: '';
  display: table;
  clear: both;
}

section {
  box-sizing: border-box;
}

.posterMoment {
  margin: 5vh 2.5vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.risd-quadrant {
  width: 50%;
  /* min-width: 45vw; */
  height: 45vh;
  /* min-height: 45vh; */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  box-sizing: border-box;
  border-top: 4px solid #4b4b4b;
  border-left: 4px solid #4b4b4b;
}
.risd-quadrant:nth-child(2n) {
  border-right: 4px solid #4b4b4b;
}
.risd-quadrant:nth-child(n+3) {
  border-bottom: 4px solid #4b4b4b;
}

.risd-container {
  /* display: none; */
  position: absolute;
  font-size: 10vw;
  color: white;
  width: 45vw;
  height: 45vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.risd-text {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 24rem;
}

.posterItems {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posterItem-box--large {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.posterItem-box--small {
  width: 50%;
  height: 50%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  z-index: 100;
}
.posterItem-box--small:nth-child(2n+1) {
  border-right: 4px solid #4b4b4b;
}
.posterItem-box--small:nth-child(-n+2) {
  border-bottom: 4px solid #4b4b4b;
}

.posterItem-campaignText--large {
  width: 80%;
  height: 80%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid #4b4b4b;
}
.posterItem-campaignText--large h2 {
  font-family: "Circular", "Helvetica", "sans-serif";
}

.posterItem-campaignText--small {
  font-family: "Circular", "Helvetica", "sans-serif";
}

.posterItem-inaugurationText--large {
  width: 80%;
  height: 80%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.posterItem-inaugurationText--large h2 {
  font-family: "Mercury Display", "Georgia", "serif";
}

.posterItem-inaugurationText--small {
  font-family: "Mercury Display", "Georgia", "serif";
}
/*# sourceMappingURL=site.css.map */