@charset "UTF-8";
@font-face {
  font-family: Circular;
  src: url("../fonts/lineto-circular-book.woff");
  font-weight: 400;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Roman.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Bold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-BolIta.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Roman-Pro.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Italic-Pro.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Bold-Pro.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-BoldItalic-Pro.otf");
  font-weight: 600;
  font-style: italic;
}
.wideColumn {
  max-width: 90%;
  margin: 0 auto;
}

.narrowColumn {
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .narrowColumn {
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .narrowColumn {
    max-width: 60%;
  }
}
@media (min-width: 1824px) {
  .narrowColumn {
    max-width: 40%;
  }
}

/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
}

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
img {
  border: 0;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield;
}

/* Tables */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Mercury Text", "Georgia", "serif";
  line-height: 1.666;
  font-weight: 400;
  font-size: 13px;
  color: black;
  background-color: #ffe800;
  -ms-font-feature-settings: "ss02" 1;
  -o-font-feature-settings: "ss02" 1;
  -webkit-font-feature-settings: "ss02" 1;
  font-feature-settings: "ss02" 1;
}

body {
  font-size: 1.5rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  display: block;
}
p a {
  display: initial;
}

strong, b {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

p {
  margin-bottom: 0.833rem;
  font-family: "Mercury Text", "Georgia", "serif";
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 4.165rem;
  margin-left: -0.5rem;
  text-align: center;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
}
@media (min-width: 1824px) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

h4 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.666;
  text-align: center;
}

h5, h6 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.666;
  text-align: center;
}

blockquote {
  margin-left: 4.165rem;
}

ol {
  list-style-type: decimal-leading-zero;
  list-style-position: outside;
  list-style-image: none;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
}

iframe {
  width: 100%;
  height: 300px;
}

*:focus {
  outline: 0;
}
section {
  box-sizing: border-box;
}

article {
  margin-bottom: 9.996rem;
}

@font-face {
  font-family: Circular;
  src: url("../fonts/lineto-circular-book.woff");
  font-weight: 400;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Roman.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Bold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-BolIta.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Roman-Pro.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Italic-Pro.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Bold-Pro.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-BoldItalic-Pro.otf");
  font-weight: 600;
  font-style: italic;
}
.wideColumn {
  max-width: 90%;
  margin: 0 auto;
}

.narrowColumn {
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .narrowColumn {
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .narrowColumn {
    max-width: 60%;
  }
}
@media (min-width: 1824px) {
  .narrowColumn {
    max-width: 40%;
  }
}

/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
}

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
img {
  border: 0;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield;
}

/* Tables */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Mercury Text", "Georgia", "serif";
  line-height: 1.666;
  font-weight: 400;
  font-size: 13px;
  color: black;
  background-color: #ffe800;
  -ms-font-feature-settings: "ss02" 1;
  -o-font-feature-settings: "ss02" 1;
  -webkit-font-feature-settings: "ss02" 1;
  font-feature-settings: "ss02" 1;
}

body {
  font-size: 1.5rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  display: block;
}
p a {
  display: initial;
}

strong, b {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

p {
  margin-bottom: 0.833rem;
  font-family: "Mercury Text", "Georgia", "serif";
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 4.165rem;
  margin-left: -0.5rem;
  text-align: center;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
}
@media (min-width: 1824px) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

h4 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.666;
  text-align: center;
}

h5, h6 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.666;
  text-align: center;
}

blockquote {
  margin-left: 4.165rem;
}

ol {
  list-style-type: decimal-leading-zero;
  list-style-position: outside;
  list-style-image: none;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
}

iframe {
  width: 100%;
  height: 300px;
}

*:focus {
  outline: 0;
}
section {
  box-sizing: border-box;
}

article {
  margin-bottom: 9.996rem;
}

.header-fixed {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 5vh;
}

.hamburger-activator {
  max-width: 30px;
  max-height: 30px;
  margin-left: 1rem;
}
.hamburger-activator:hover {
  cursor: pointer;
}
.hamburger-activator line {
  stroke: black;
  stroke-width: 3;
}

.risd-link {
  position: absolute;
  right: 0;
  display: inline-block;
  margin-right: 1rem;
}

svg#risd-seal {
  z-index: 1010;
  max-width: 50px;
  max-height: 50px;
}
svg#risd-seal path {
  fill: white;
}

svg#risd-seal:hover path {
  fill: black;
}

.mainNav {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 900;
  left: -100%;
  transition: left 0.4s ease-in-out;
  top: 0;
  border: 4px solid black;
  box-sizing: border-box;
  font-family: "Circular", "Helvetica", "sans-serif";
}

.mainNav-list {
  width: 90%;
  height: 90vh;
  margin: 5vh 5%;
}

.mainNav-item {
  font-size: 3rem;
  line-height: 1.666;
}
@media (min-width: 768px) {
  .mainNav-item {
    font-size: 5rem;
    line-height: 1.666;
  }
}
@media (min-width: 1024px) {
  .mainNav-item {
    font-size: 5rem;
    line-height: 1.666;
  }
}
@media (min-width: 1824px) {
  .mainNav-item {
    font-size: 7rem;
    line-height: 1.666;
  }
}

.on {
  left: 0%;
}

.mainNav-active span {
  border-bottom: 4px solid black;
}

@font-face {
  font-family: Circular;
  src: url("../fonts/lineto-circular-book.woff");
  font-weight: 400;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Roman.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Bold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Display;
  src: url("../fonts/MercuryDisplay-BolIta.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Roman-Pro.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Italic-Pro.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-Bold-Pro.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Mercury Text;
  src: url("../fonts/MercuryTextG1-BoldItalic-Pro.otf");
  font-weight: 600;
  font-style: italic;
}
.wideColumn {
  max-width: 90%;
  margin: 0 auto;
}

.narrowColumn {
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .narrowColumn {
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .narrowColumn {
    max-width: 60%;
  }
}
@media (min-width: 1824px) {
  .narrowColumn {
    max-width: 40%;
  }
}

/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
}

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
img {
  border: 0;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield;
}

/* Tables */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Mercury Text", "Georgia", "serif";
  line-height: 1.666;
  font-weight: 400;
  font-size: 13px;
  color: black;
  background-color: #ffe800;
  -ms-font-feature-settings: "ss02" 1;
  -o-font-feature-settings: "ss02" 1;
  -webkit-font-feature-settings: "ss02" 1;
  font-feature-settings: "ss02" 1;
}

body {
  font-size: 1.5rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  display: block;
}
p a {
  display: initial;
}

strong, b {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

p {
  margin-bottom: 0.833rem;
  font-family: "Mercury Text", "Georgia", "serif";
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 4.165rem;
  margin-left: -0.5rem;
  text-align: center;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
}
@media (min-width: 1824px) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

h4 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.666;
  text-align: center;
}

h5, h6 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.666;
  text-align: center;
}

blockquote {
  margin-left: 4.165rem;
}

ol {
  list-style-type: decimal-leading-zero;
  list-style-position: outside;
  list-style-image: none;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
}

iframe {
  width: 100%;
  height: 300px;
}

*:focus {
  outline: 0;
}
section {
  box-sizing: border-box;
}

article {
  margin-bottom: 9.996rem;
}

.posterMoment {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.risd-quadrant {
  width: 100%;
  /* min-width: 45vw; */
  height: 50vh;
  /* min-height: 45vh; */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  box-sizing: border-box;
  border-bottom: 4px solid black;
}
@media (min-width: 768px) {
  .risd-quadrant {
    width: 50%;
    /* min-width: 45vw; */
    height: 50vh;
    /* min-height: 45vh; */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: none;
  }
  .risd-quadrant:nth-child(2n+1) {
    border-right: 4px solid black;
  }
  .risd-quadrant:nth-child(n+3) {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }
}

.risd-container {
  position: absolute;
  font-size: 10vw;
  color: white;
  width: 98%;
  height: 50vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .risd-container {
    width: 49%;
    height: 50vh;
  }
}

.risd-text {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 62vh;
  margin-bottom: 1rem;
}

.posterItems {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posterItem-box--large {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.posterItem-box--small {
  width: 50%;
  height: 50%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  z-index: 100;
}
.posterItem-box--small:nth-child(2n+1) {
  border-right: 4px solid black;
}
.posterItem-box--small:nth-child(-n+2) {
  border-bottom: 4px solid black;
}

.posterItem-campaignText--large {
  width: 80%;
  height: 80%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid black;
}
.posterItem-campaignText--large h2 {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 6vmax;
}
@media (min-width: 1024px) {
  .posterItem-campaignText--large h2 {
    font-size: 5vmax;
  }
}
.posterItem-campaignText--large span {
  border-bottom: 0.6vmax solid black;
}
@media (min-width: 1024px) {
  .posterItem-campaignText--large span {
    border-bottom: 0.4vmax solid black;
  }
}

.posterItem-campaignText--small {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 3.5vmax;
}
@media (min-width: 1024px) {
  .posterItem-campaignText--small {
    font-size: 2.7vmax;
  }
}
.posterItem-campaignText--small span {
  border-bottom: 0.3vmax solid black;
}
@media (min-width: 1024px) {
  .posterItem-campaignText--small span {
    border-bottom: 0.3vmax solid black;
  }
}

.posterItem-inaugurationText--large {
  width: 80%;
  height: 80%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}
.posterItem-inaugurationText--large h2 {
  font-family: "Mercury Display", "Georgia", "serif";
  font-weight: 600;
  font-size: 6vmax;
}
@media (min-width: 1024px) {
  .posterItem-inaugurationText--large h2 {
    font-size: 5vmax;
  }
}

.posterItem-inaugurationText--small {
  font-family: "Mercury Display", "Georgia", "serif";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.9vmax;
}
@media (min-width: 1024px) {
  .posterItem-inaugurationText--small {
    font-size: 1.7vmax;
  }
}

.slider-container {
  font-size: 1.5rem;
  margin-top: 4.165rem;
  width: 90%;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .slider-container {
    width: 100%;
  }
}
.slider-container img {
  max-width: 100%;
  border: 4px solid black;
  box-sizing: border-box;
}

.caption {
  margin-top: 0.833rem;
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 1.25rem;
  text-align: center;
}

.left-arrow {
  left: -25px;
  padding-right: 5px;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 20px;
  line-height: 0px;
  cursor: pointer;
  top: 0;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-arrow {
  right: -25px;
  padding-left: 5px;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 20px;
  line-height: 0px;
  cursor: pointer;
  top: 0;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.campaign {
  margin-top: 13.328rem;
}

.campaign-intro--title {
  margin-bottom: 4.165rem;
}

.campaign-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6.664rem auto;
}
@media (min-width: 768px) {
  .campaign-links {
    margin: 9.996rem auto;
  }
}

.campaign-links--item {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 2.499rem auto;
}
@media (min-width: 768px) {
  .campaign-links--item {
    width: 50%;
  }
}

.inauguration {
  margin-top: 1.666rem;
}

.inauguration-title {
  margin-bottom: 6.664rem;
}

.inauguration-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.inauguration-date, .inauguration-address {
  width: 100%;
  text-align: center;
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 2rem;
  margin-bottom: 2.499rem;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .inauguration-date, .inauguration-address {
    width: 50%;
    margin: 6.664rem auto;
  }
}
.inauguration-date p, .inauguration-address p {
  max-width: 20rem;
}

.inauguration-info--note {
  margin: 4.165rem 0;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.biography figure[data-type=quote] {
  margin: 0;
  padding: 0;
  border: none;
}
.biography blockquote {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  line-height: 1.666;
  margin: 2.499rem auto;
  max-width: 20em;
}
@media (min-width: 768px) {
  .biography blockquote {
    font-size: 3rem;
  }
}

.biography-title {
  text-align: center;
  font-family: "Circular", "Helvetica", "sans-serif";
  margin-top: 6.664rem;
  margin-bottom: 2.499rem;
}
@media (min-width: 768px) {
  .biography-title {
    font-size: 5rem;
  }
}
@media (min-width: 1024px) {
  .biography-title {
    font-size: 5rem;
  }
}

.biography-title--timeline {
  margin: 0 auto;
  font-size: 2rem;
  max-width: 40rem;
}
@media (min-width: 768px) {
  .biography-title--timeline {
    font-size: 3rem;
  }
}

.biography-section--timeline {
  margin-bottom: 0;
}

.timeline {
  margin: 4.165rem auto 0 auto;
  font-size: 1.5rem;
  border-top: 4px solid black;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.timeline p {
  max-width: 15em;
}

.timeline-entry {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid black;
  box-sizing: border-box;
  padding: 4.165rem 0;
}
@media (min-width: 768px) {
  .timeline-entry {
    width: 50%;
    padding: 6.664rem 0;
  }
}
.timeline-entry:nth-child(odd) {
  border-right: none;
  float: left;
}
@media (min-width: 768px) {
  .timeline-entry:nth-child(odd) {
    border-right: 4px solid black;
    float: left;
  }
}
.timeline-entry:nth-child(odd) .timeline-entry--item {
  margin-left: 0;
}
@media (min-width: 768px) {
  .timeline-entry:nth-child(odd) .timeline-entry--item {
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  .timeline-entry:nth-child(odd) .timeline-entry--item {
    margin-left: 10%;
  }
}
@media (min-width: 1824px) {
  .timeline-entry:nth-child(odd) .timeline-entry--item {
    margin-left: 35%;
  }
}
.timeline-entry:nth-child(even) {
  float: left;
}
@media (min-width: 768px) {
  .timeline-entry:nth-child(even) {
    float: right;
  }
}
.timeline-entry:nth-child(even) .timeline-entry--item {
  margin-right: 0;
}
@media (min-width: 768px) {
  .timeline-entry:nth-child(even) .timeline-entry--item {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .timeline-entry:nth-child(even) .timeline-entry--item {
    margin-right: 10%;
  }
}
@media (min-width: 1824px) {
  .timeline-entry:nth-child(even) .timeline-entry--item {
    margin-right: 35%;
  }
}
.timeline-entry:first-child {
  padding: 4.165rem 0;
}
.timeline-entry:last-child {
  border-bottom: none;
  padding: 4.165rem 0;
}
.timeline-entry:nth-last-child(2) {
  border-bottom: 4px solid black;
}
@media (min-width: 768px) {
  .timeline-entry:nth-last-child(2) {
    border-bottom: none;
  }
}

.timeline-title {
  font-family: "Circular", "Helvetica", "sans-serif";
  padding: 0 2.499rem;
}

.timeline-date {
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 3rem;
  padding: 0 2.499rem;
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .timeline-date {
    font-size: 5rem;
  }
}

.factSheet {
  margin-top: 1.666rem;
}

.factSheet-title {
  margin-bottom: 2.499rem;
}

.factSheet-intro {
  margin-top: 2.499rem;
}
@media (min-width: 768px) {
  .factSheet-intro {
    margin-top: 6.664rem;
  }
}

.factSheet-intro--text {
  font-size: 1.5rem;
  margin-bottom: 9.996rem;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.factSheet-description {
  margin-top: 9.996rem;
}

.factSheet-description--title {
  text-align: center;
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 3rem;
  margin-top: 2.499rem;
  margin-bottom: 2.499rem;
}

.factSheet-description--item {
  font-size: 1.5rem;
  margin-top: 1.666rem;
  margin-bottom: 9.996rem;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.factSheet-description--image {
  max-width: 10%;
  border: 4px solid black;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  padding-bottom: 1rem;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}
.factSheet-description--image img {
  width: 100%;
  margin-right: 4.165rem;
}

.infoGraphic-category {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 0;
}
.infoGraphic-category:first-child {
  border-top: 4px solid black;
}

.infoGraphic-category--title {
  text-align: center;
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 2rem;
  margin: 1.666rem 0 0 0;
  padding-bottom: 1.666rem;
  border-bottom: 4px solid black;
  width: 100%;
}
@media (min-width: 768px) {
  .infoGraphic-category--title {
    font-size: 2rem;
  }
}

.infoGraphic-item {
  width: 50%;
  box-sizing: border-box;
  padding: 2.499rem 0.833rem;
  border-bottom: 4px solid black;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 768px) {
  .infoGraphic-item {
    padding: 6.664rem;
  }
}
.infoGraphic-item:nth-child(even) {
  border-right: 4px solid black;
}
.infoGraphic-item:nth-child(even):last-child {
  border-right: none;
}

.infoGraphic-item--title {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 1.666;
}
@media (min-width: 768px) {
  .infoGraphic-item--title {
    font-size: 1.5rem;
  }
}

.infoGraphic-item--data {
  margin-bottom: 0.833rem;
  max-width: 5em;
}

.infoGraphic-item--note {
  text-align: center;
  font-family: "Circular", "Helvetica", "sans-serif";
  font-size: 1.5rem;
}

.image-break {
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.165rem;
}

.image-container {
  width: 90%;
  height: 90vh;
  background-position: 50% 25%;
  box-sizing: border-box;
  border: 4px solid black;
}

.narrativeLinks {
  text-align: center;
  box-sizing: border-box;
  font-family: "Circular", "Helvetica", "sans-serif";
  margin: 2.499rem auto 0 auto;
}
.narrativeLinks a {
  display: inline-block;
  padding: 1.666rem;
  border: 4px solid black;
}

.narrativeLinks-item {
  font-family: "Circular", "Helvetica", "sans-serif";
}

.externalLinks {
  text-align: center;
  box-sizing: border-box;
  font-family: "Mercury Display", "Georgia", "serif";
}
.externalLinks a {
  display: inline-block;
  max-width: 20rem;
}
.externalLinks span {
  border-bottom: 2px solid black;
}
/*# sourceMappingURL=site.css.map */