@import "../dependencies/color";
@import "../dependencies/type";
@import "../dependencies/layout";
@import "../dependencies/viewports";
@import "../foundation/reset";
@import "../foundation/base";


//The fixed hamburger and risd seal
.header-fixed{
	position:fixed;
	z-index:1000;
	width:100%;
	top: 5vh;
}
.hamburger-activator{
    max-width:30px;
    max-height:30px;
    margin-left: 5vw;
	margin-top: -4px;
	@include v-tablet {
		margin-left: 1vw;
	};
	@include v-laptop {
		margin-left: 1.5vw;
	};
    &:hover {
        cursor:pointer;
    }
    line{
        stroke:$c-one;
        stroke-width:4;
    }
}
.risd-link {
    position: absolute;
    right: 0;
    display: inline-block;
    margin-right: 5vw;
	margin-top: -4px;
	@include v-tablet {
		margin-right: 0;
	};
	@include v-laptop {
		margin-right: 0.7vw;
	};
}
svg#risd-seal{
    z-index:1010;
    // position:fixed;
    max-width:50px;
    max-height:50px;
    path{
        fill:$c-one;
    }
}


//The sliding nav list
.mainNav{
	position:fixed;
	width:100%;
	height:100%;
	background-color: $c-one;
	color: $c-three;
	z-index:900;
	left:-100%;
    transition: left 0.4s ease-in-out;
	top: 0;
	border: 4px solid $c-three;
	box-sizing: border-box;
	font-family: $t-font--one;
}
.mainNav-list {
	width: 90%;
    height: 90vh;
	margin: 5vh 5%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.mainNav-item {
	width: 100%;
	text-align: center;
    font-size: $t-size--xlarge;
    line-height: $t-lineHeight--normal;
    @include v-tablet {
		font-size: $t-size--xxlarge;
	    line-height: $t-lineHeight--normal;
    };
    @include v-laptop {
		font-size: $t-size--xxlarge;
	    line-height: $t-lineHeight--normal;
    };
    @include v-desktop {
		font-size: $t-size--xxxlarge;
	    line-height: $t-lineHeight--normal;
    };
	a {
		display: inline-block;
		&:hover {
			span {
				border-bottom: 4px solid $c-three;
			}
		}
	}
}
.on{
	left:0%;
}
.mainNav-active {
	span {
		border-bottom: 4px solid $c-three;
	}

}
