@import "../dependencies/color";
@import "../dependencies/type";
@import "../dependencies/layout";
@import "../dependencies/viewports";
@import "../foundation/reset";
@import "../foundation/base";


.posterMoment {
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.risd-quadrant {
    position: relative;
    width: 100%;
    /* min-width: 45vw; */
    height: 50vh;
    /* min-height: 45vh; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: 4px solid $c-one;
    background-color: $c-two;
    z-index: 2000;
    @include v-tablet {
        width: 50%;
        /* min-width: 45vw; */
        height: 50vh;
        /* min-height: 45vh; */
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        border-bottom: none;
        &:nth-child(2n+1) {
            border-right: 4px solid $c-one;
        }
        &:nth-child(n+3) {
            border-top: 4px solid $c-one;
            border-bottom: 4px solid $c-one;
        }
    };
}

.risd-container {
    position: absolute;
    // z-index: -1000;
    font-size: 10vw;
    color: white;
    width: 98%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include v-tablet {
        // width: 49%;
        // height: 50vh;
    };

}

.risd-text {
    font-family: $t-font--one;
    font-size: 62vh;
    margin-bottom: 1rem;
}

.posterItems {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.posterItem-box--large {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.posterItem-box--small {
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    z-index: 100;
    &:nth-child(2n+1) {
        border-right: 4px solid $c-one;
    }
    &:nth-child(-n+2) {
        border-bottom: 4px solid $c-one;
    }
}

.posterItem-campaignText--large {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid $c-one;
    // animation: showHide random(5)+s linear infinite;
    // &:last-child {
    //     animation: showHide random(4)+s linear infinite;
    // }
    h2 {
        font-family: $t-font--one;
        font-size: 6vmax;
        @include v-laptop {
            font-size: 5vmax;
        };
    }
    span {
        border-bottom: 0.6vmax solid $c-one;
        @include v-laptop {
            border-bottom: 0.4vmax solid $c-one;
        };
    }
}

.posterItem-campaignText--small {
    font-family: $t-font--one;
    font-size: 3.5vmax;
    @include v-laptop {
        font-size: 2.7vmax;
    };
    span {
        border-bottom: 0.3vmax solid $c-one;
        @include v-laptop {
            border-bottom: 0.3vmax solid $c-one;
        };
    }
}

.posterItem-inaugurationText--large {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include t-allCaps;
    h2 {
        font-family: $t-font--two;
        font-weight: $t-weight--bold;
        font-size: 6vmax;
        @include v-laptop {
            font-size: 5vmax;
        };
    }
}

.posterItem-inaugurationText--small {
    font-family: $t-font--two;
    font-weight: $t-weight--bold;
    @include t-allCaps;
    font-size: 2.9vmax;
    @include v-tablet {
        font-size: 2.3vmax;
    };

    @include v-laptop {
        font-size: 1.4vmax;
    };
    @include v-desktop {
        font-size: 1.3vmax;
    };
}

.showPosterPart {
    visibility: visible;
}
.hidePosterPart {
    visibility: hidden;
}


@keyframes showHide {
    0%, 49% {
        opacity: 0;
    }
    51%, 100% {
        opacity: 1;
    }
}
