{# ------------------------------------------------------- #}
{# ONE OFF VIEW bio #}
{# This page can use any data from http:localhost:2000/cms/#/form/bio/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this bio's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.bio.name }}{% endblock %}
{% block content %}
{% include "templates/partials/nav.html" %}
{% include "templates/partials/side-nav.html" %}
  <section class="image-break {{cms.imagebreaks.image_breaks[3].id}}" id="search-process" style="background-image:url('{{cms.imagebreaks.image_breaks[3].image|imageSize(1600)}}');">
    <div class="container">
      <header class="six columns">
        <h1>president's bio</h1>
      </header>
    </div>  
  </section>
  
  <section id="bio">
    <div class="container">
      <div class="three columns">
        <h2>{{cms.bio.name}}</h2>
      </div>
      <div class="eight columns">
        {{cms.bio.long_bio|safe}}
        <div class="flexslider">
          <ul class="slides">
            {% for image in cms.bio.risd_roots %}
                <li><img src="{{image|imageSize(800)}}">
                    <p class="caption">{{image.caption}}</p>
                </li>
            {% endfor %}
          </ul>
        </div>
        {{cms.bio.deep_roots|safe}}
        <div class="flexslider">
          <ul class="slides">
            {% for image in cms.bio.work %}
                <li><img src="{{image|imageSize(800)}}"><br>
                    <p class="caption">{{image.caption}}</p>
                </li>
            {% endfor %}
          </ul>
        </div>
        {{cms.bio.studio_practice|safe}}
        <h3>Highlights from President Somerson's RISD years</h3>
        {% for row in cms.bio.timeline|sort('year')  %}
          <div class="timeline-entry">
            <p class="timeline-title">
              {{row.event|safe}}
            </p>

            <p class="timeline-date">
              {{row.year}}
            </p>
            {% if image %}
              <img src="{{row.image"
            {% endif %}
          </div>
        {% endfor %}
        <h3><a href="../fact-sheet">Learn more about RISD</a></h3>
      </div>
    </div>
  </section>
{% endblock %}
