{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %}
-
{{ cms.factsheet.name }}{% endblock %}

{% block content %}

{% block header %}
{% set activeNavItem = 'risd facts' %}
{% include "templates/partials/header.html" %}
{% endblock %}

<main class="factSheet">
    <section class="image-break">
        <div class="image-container" style="background-image:url('{{cms.imagebreaks.image_breaks[4].image|imageSize(1500)}}');"></div>
    </section>
    <h1 class="factSheet-title">{{cms.factsheet.name}}</h1>
    <section id="factSheet-description narrowColumn">
        <article class="eight columns">
            {{cms.factsheet.overview|safe}}
        </article>
    </section>
    <section class="infoGraphic narrowColumn">
        <article class="infoGraphic-category">
            <h3 class="infoGraphic-category--title">student body</h3>
            {% for row in cms.factsheet.student_body %}
            <figure class="infoGraphic-item">
                <h2 class="infoGraphic-item--title"><span>{{row.title}}</span></h2>
                <h1 class="infoGraphic-item--data">{{row.data}}</h1>
                {% if row.note %}
                <p class="infoGraphic-item--note">{{row.note}}</p>
                {% endif %}
            </figure>
            {% endfor %}
        </article>

        <article class="infoGraphic-category">
            <h3 class="infoGraphic-category--title">faculty</h3>
            {% for row in cms.factsheet.faculty %}
            <figure class="infoGraphic-item">
                <h2 class="infoGraphic-item--title"><span>{{row.title}}</span></h2>
                <h1 class="infoGraphic-item--data">{{row.data}}</h1>
            </figure>
            {% endfor %}
        </article>

        <article class="infoGraphic-category">
            <h3 class="infoGraphic-category--title">acceptance rate</h3>
            {% for row in cms.factsheet.acceptance_rate %}
            <figure class="infoGraphic-item">
                <h2 class="infoGraphic-item--title"><span>{{row.title}}</span></h2>
                <h1 class="infoGraphic-item--data">{{row.data}}</h1>
            </figure>
            {% endfor %}
        </article>

        <article class="infoGraphic-category">
            <h3 class="infoGraphic-category--title">retention rate</h3>
            {% for row in cms.factsheet.retention_rate %}
            <figure class="infoGraphic-item">
                <h2 class="infoGraphic-item--title"><span>{{row.title}}</span></h2>
                <h1 class="infoGraphic-item--data">{{row.data}}</h1>
            </figure>
            {% endfor %}
        </article>

        <article class="infoGraphic-category">
            <h3 class="infoGraphic-category--title">graduation rate</h3>
            {% for row in cms.factsheet.graduation_rate %}
            <figure class="infoGraphic-item">
                <h2 class="infoGraphic-item--title"><span>{{row.title}}</span></h2>
                <h1 class="infoGraphic-item--data">{{row.data}}</h1>
            </figure>
            {% endfor %}
        </article>
    </section>

    <section class="factSheet-description narrowColumn">
        <article class="factSheet-description--item">
            <img alt="" class="factSheet-description--image" src="{{cms.factsheet.mission_image|imageSize(800)}}">
            {{cms.factsheet.mission|safe}}
        </article>

        <article class="factSheet-description--item">
            {{cms.factsheet.academics|safe}}
        </article>

        <article class="factSheet-description--item">
            <img alt="" class="factSheet-description--image" src="{{cms.factsheet.degree_programs_image|imageSize(800)}}">
            {{cms.factsheet.degree_programs|safe}}
        </article>

        <article class="factSheet-description--item">
            {# <img src="{{cms.factsheet.alumni_image|imageSize(800)}}" class="factSheet-description--image" alt=""> #}
            {{cms.factsheet.alumni|safe}}
        </article>

        <article class="factSheet-description--item">
            <img alt="" class="factSheet-description--image" src="{{cms.factsheet.location_image|imageSize(800)}}">
            {{cms.factsheet.location|safe}}
        </article>

        <article class="factSheet-description--item">
            {{cms.factsheet.accreditation|safe}}
        </article>

        <article class="factSheet-description--item">
            {{cms.factsheet.financial_info|safe}}
        </article>
    </section>
</main>
