{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %}
-
{{ cms.factsheet.name }}{% endblock %}

{% block content %}
{% set inauguration = cms.inauguration %}

{% block header %}
{% set activeNavItem = 'inauguration' %}
{% include "templates/partials/header.html" %}
{% endblock %}

<main class="inauguration">
    <h1 class="inauguration-title">Inauguration</h1>
    <section class="inauguration-info narrowColumn">
        <article class="inauguration-date">{{ inauguration.inauguration_date|date('l')}}</br>{{ inauguration.inauguration_date|date('F, j Y')}}</br>{{ inauguration.inauguration_date|date('g:ia')}}</article>
        <article class="inauguration-address externalLinks"><a href="" target=_blank><span>{{ inauguration.inauguration_address.street1  }}</br>{{ inauguration.inauguration_address.street2 }}</br>{{ inauguration.inauguration_address.city }}, {{ inauguration.inauguration_address.state }}</span></a></article>
        {{ inauguration.inauguration_info|safe }}
    </section>
</main>

{% endblock %}
