
{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - {{ cms.factsheet.name }}{% endblock %}

{% block content %}

{% include "templates/partials/header.html" %}
<!--
<section class="image-break">
  <div class="container">
    <header class="six columns">
      <h1>{{cms.inauguration.name}}</h1>
    </header>
  </div>
</section> -->

<section class="inauguration">
    <article class="inauguration-info">
        <h2 class="inauguration-title">Inauguration</h2>
        {{cms.inauguration.inauguration_info|safe}}
    </article>
</section>
