{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{{ cms.bio.name }}
-
{{ site_title|default('Webhook site') }}{% endblock %}

{% block content %}

{% block header %}
{% set activeNavItem = 'Home' %}
{% include "templates/partials/header.html" %}
{% endblock %}

{% include "templates/partials/poster-moment.html" %}
{% set home = cms.home %}

<main class="campaign">
    <section class="campaign-description">
        <article class="campaign-intro narrowColumn">
            <h2 class="campaign-intro--title wideColumn">{{ home.campaign_intro_title }}</h2>
            {{ home.campaign_intro|safe }}
        </article>

        <article class="narrativeLinks narrowColumn">
            <h3 class="narrativeLinks-item">
                <a href="../bio">Read more about Rosanne</a>
            </h3>
        </article>
    </section>
    <section class="campaign-links--container">
        <article class="campaign-links">
            {% for link in home.links %}
                <h3 class="campaign-links--item externalLinks">
                    <a href="{{ link.link_url }}" target="_blank"><span>{{ link.link_text }}</span></a>
                </h3>
            {% endfor %}
        </article>
    </section>
</main>

{% endblock %}
