{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{{ cms.bio.name }}
-
{{ site_title|default('Webhook site') }}{% endblock %}

{% block content %}

{% block header %}
{% set activeNavItem = 'Home' %}
{% include "templates/partials/header.html" %}
{% endblock %}

{% include "templates/partials/poster-moment.html" %}
{% set home = cms.home %}

<main class="campaign">
    <section class="campaign-description">
        <article class="campaign-intro narrowColumn">
            <h2 class="campaign-intro--title wideColumn">{{ home.campaign_intro_title }}</h2>
        </article>
        <article class="campaign-links">
            {% for link in home.links %}
                <a href="{{ link.link_url }}" target="_blank" class="campaign-links--item externalLinks">
                    <h3>
                        <span>{{ link.link_text }}</span>
                    </h3>
                </a>
            {% endfor %}
        </article>
        <article class="campaign-intro narrowColumn">
            {{ home.campaign_intro|safe }}
        </article>
    </section>

    <section class="campaign-description">
        <article class="narrativeLinks narrowColumn">
            <h3 class="narrativeLinks-item">
                <a href="../bio">Read more about Rosanne</a>
            </h3>
        </article>
    </section>

</main>

{% endblock %}
