
{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Former Leaders{% endblock %}

{% block content %}

{% include "templates/partials/nav.html" %}
{% include "templates/partials/side-nav.html" %}
<section class="image-break {{cms.imagebreaks.image_breaks[2].id}}" id="past-presidents" style="background-image:url('{{cms.imagebreaks.image_breaks[2].image|imageSize(1600)}}');">
    <div class="container">
      <header class="row">
          <h1 class="six columns">former leaders</h1>
        </header>
      </div>
  </section>

  <section>
    <div class="container">
      <header class="row">
        <h2 class="twelve columns">RISD Presidents | 1877–2013</h2>
      </header>
      {% for item in cms.pastpresidents|sort('tenure', true)  %}
        <div class="row past-president">
          <div class="three columns">
            <h4>
              {{item.name}} <br />
              {{item.tenure}}
            </h4>
            <img class="past-president-portrait" src="{{item.portrait.url}}" alt=""/>
          </div>
          <div class="eight columns">
            {{item.bio|safe}}
          </div>

        </div>
      {% endfor %}
        <div class="eight columns offset-by-three">
          <h3><a href="../press">Press release about President Somerson</a></h3>
        </div>
    </div>
  </section>
