{# ------------------------------------------------------- #}
{# ONE OFF VIEW pressrelease #}
{# This page can use any data from http:localhost:2000/cms/#/form/pressrelease/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this pressrelease's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.pressrelease.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.pressrelease.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.pressrelease.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.pressrelease.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.pressrelease.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Page Title: </strong>
        {{ cms.pressrelease.page_title }}
      </li>
      <li>
        <strong>Press Release: </strong>
        {{ cms.pressrelease.press_release|safe }}
      </li>
      <li>
        <strong>PDF: </strong>
        {# Download link. #}
        <a href="{{ cms.pressrelease.pdf.url }}">Click to download</a>
      </li>
      <li>
        <strong>Gallery: </strong>
        {# You can pull out a lot more information from the gallery property. Info here: #}
        {# http://www.webhook.com/docs/widget-template-reference/#image #}
        <ul>
          {% for image in cms.pressrelease.gallery %}
            <li>
              {# You can get the raw image url by accessing image.url #}
              <img src="{{ image|imageSize(200,200) }}">
              <div>{{ image.caption }}</div>
            </li>
          {% endfor%}
        </ul>
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ cms.pressrelease.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ cms.pressrelease.slug }}
      </li>
  </ul>
{% endblock %}
