
{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}

{% include "templates/partials/nav.html" %}
{% include "templates/partials/side-nav.html" %}

  <section class="image-break {{cms.imagebreaks.image_breaks[1].id}}" id="search-process" style="background-image:url('{{cms.imagebreaks.image_breaks[1].image|imageSize(1800)}}');">
    <div class="container">
      <header class="six columns">
        <h1>search process</h1>
      </header>
    </div>  
  </section>

  <section>
    <div class="container">
      <header class="three columns">
        <h2>International search leads full circle</h2>
        <img src="{{cms.imagebreaks.image_breaks[6].image|imageSize(800)}}"/>
        <figure data-type="quote" class="wy-figure-small side-rail">
          <blockquote>
            “The search committee worked tirelessly to identify a new president with the vision, values and leadership style to match RISD's standards for excellence. The fact that we found the person within – that President Somerson is an alumna, former faculty member and academic leader – makes the outcome especially gratifying."
            <cite>Michael Spalter, chair, RISD Board of Trustees</cite>
          </blockquote>
        </figure>

      </header>

      <div class="eight columns">
        {{cms.searchprocess.search_process|safe}}
      </div>
      
      <div class="row committee-group">
        <h4 class="three columns">Core Committee Co-Chairs</h4>
        <div class="eight columns committee-member">
          {% for row in cms.searchprocess._core_committee_cochairs %}
            <div class="four columns">
              <p><strong>{{row.name}}</strong><br/> 
              {{row.title}}</p>
            </div>  
          {% endfor %}
        </div>
      </div>

      
      <div class="row committee-group">
        <h4 class="three columns">Core Committee Members</h4>
        <div class="eight columns">
        {% for row in cms.searchprocess.core_committee_members %}
          <div class="four columns core committee-member">
            <p><strong>{{row.name}}</strong><br/> 
            {{row.title}}</p>
          </div>
        {% endfor %}
        </div>
      </div>
      
      <div class="row committee-group">
        <h4 class="three columns">Trustee Alternate</h4>
        <div class="eight columns">
        {% for row in cms.searchprocess.trustee_alternate %}
          <div class="four columns committee-member">
            <p><strong>{{row.name}}</strong><br/> 
            {{row.title}}</p>
          </div>
        {% endfor %}
        </div>
      </div>

    </div>
  </section>

  


{% endblock %}
