body{
	// background:yellow;
	background:rgb(250,250,250);
	color:rgb(30,30,30);
}


// MAIN NAV -----------------------------------

.hamburger{
	position:fixed;
	z-index:40;
	width:100%;
	padding-top:0.5em;
	.hamburger-activator{
		line{
			stroke:$rust;
			stroke-width:3;
		}
		max-width:30px;
		max-height:30px;
	}
	.hamburger-activator:hover{
		cursor:pointer;
	}
}

.main-nav{
	// background:white;
	@include transition(background 0.3s ease-in-out);
	position:fixed;
	width:100%;
	z-index:20;
	bottom:0em;
	// mix-blend-mode: multiply;
	ul{
		padding:none;
		li{
			list-style: none;
			// background:yellow;
		}
	}
	svg#risd-seal{
		z-index:10;
		// position:fixed;
		max-width:50px;
		max-height:50px;
		mix-blend-mode: multiply;
		path{
			fill:$rust;
			mix-blend-mode: multiply;
		}
	}

	svg#risd-seal:hover{
		path{
			fill:rgb(30,30,30);
		}
	}
}

.main-nav:hover{
	// background:rgb(250,250,250);
	mix-blend-mode: none;
}

// SIDE NAV ----------------------------------
.second-nav{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.9);
	z-index:2;
	left:-100%;
	@include transition(left 0.4s ease-in-out);
	ul{
		margin-top:2em;
		padding:0;
		li{
			font-size:2em;
			line-height:1em;
			@media screen and (min-width:550px){
				font-size:2.5em;
				line-height:1em;
			}
			@media screen and (min-width:700px){
				font-size:3em;
			}
			@media screen and (min-width:1000px){
				font-size:4em;
			}
			list-style:none;
		}
	}
	svg#risd-seal{
		max-width:50px;
		max-height:50px;
	}
}

.second-nav.on{
	left:0%;
}

// BASE STRUCTURE ------------------------------
section{
	padding-bottom:6em;
	padding-top:3em;
	border-bottom:1px solid $rust;
}

a:link,
a:visited{
	color:$rust;
	text-decoration:none;
	border-bottom:1px solid $rust;
}

a:hover{
	color:rgb(30,30,30);
}

img{
	max-width:100%;
}

.image-break{
	min-height:80vh;
	background-size:cover;
	// background:rgb(248,248,248);
}

#press-release,
#facts,
#past-presidents,
#search-process{
	background-position:-60vw 0;
	@media screen and (min-width:550px){
		background-position: -30vw 0;
	}
	@media screen and (min-width:720px){
		background-position:0vw 0;
	}
}



// TITLE SLIDE ----------------------------------

.title-slide{
	// background-blend-mode: multiply;
	h1.main-title{
		color:$rust;
		text-align:left;
		margin-top:1em;
		line-height:1em;
		margin-bottom:0em;
		// text-shadow:0px 0px 30px rgba(0,0,0,0.3);
	}
	background-position:-70vw 0;
	@media screen and (min-width:550px){
		background-position:-20vw 0;
	}
	@media screen and (min-width:800px){
		background-position:0 0;
	}
}


// INFO GRAPHICS --------------------------------

.info-graphic-group{
	border-bottom:1px solid rgb(220,220,220);
}

.info-graphic-group:hover{
	.info-graphic-data{
		color:$rust;

	}
}

.info-graphic-group:last-child{
	border-bottom:none;
}

.info-graphic-title,
.timeline-title{
	text-transform:uppercase;
	letter-spacing:0.05em;
	border-bottom:1px solid black;
	margin-top:0.5em;
	font-size:0.8em;
	line-height:1.2em;
	margin-bottom:1.5em;
	padding-right:1em;
	padding-bottom:0.5em;

}

.info-graphic-data,
.timeline-date{
	font-size:2.5em;
	margin-bottom:0.25em;
	margin-top:-0.25em;
	line-height:1em;
	font-family:"Calibre Web Semibold";
	@include transition(color 0.3s ease-in-out);
	-webkit-font-feature-settings: 'tnum';
	   -moz-font-feature-settings: 'tnum';
	    -ms-font-feature-settings: 'tnum';
}

.info-graphic-data:hover{
	// color:$rust;
}

.info-graphic-note{
	margin-top:0em;
}

.info-graphic:nth-child(3){
	// background:orange;
	margin-left:0;
}

.info-graphic{
	@media screen and (max-width:549px){
		margin-left:0;
	}
}

.info-graphic:nth-child(5){
	margin-left:0;
}

// TIMELINE ----

.timeline-entry{
	width:50%;
	padding-bottom:2em;
}

.timeline-title{
	margin-top:0em;
}

.timeline-date{
	margin-bottom:0em;
	color:$rust;
}

.timeline-entry:nth-child(odd){
	// margin-right:50%;
	border-left:4px solid $rust;
	margin-left:50%;
	.timeline-title{
		padding-left:0.5em;
	}
	.timeline-date{
		padding-left:0.125em;
	}
	
}

.timeline-entry:nth-child(even){
	// float:right;
	// margin-left:
	border-right:4px solid $rust;

}

// WSYWIG STYLES ----------------------------
.wy-figure-left{
	margin-left:-10%;
}

figure[data-type=quote]{
	border-left:none;
	margin-left:0em;
	padding-left:0em;
	@media screen and (min-width:750px){
		margin-left:1em;
	}
	blockquote{
		font-family:"Calibre Web Semibold";
		font-style:normal;
		font-size:1.333333em;
		color:$rust;
		margin-left:0em;
		margin-right:0em;
		@media screen and (min-width:750px){
			margin-left:1em;
		}
	}
	cite{
		font-family:"Calibre Web";
		font-style:normal;
		font-size:20px;
		font-weight:normal;
		
	}
}

figure[data-type=quote].side-rail{
	margin:0em;
	padding:0em;

	blockquote{
		font-size:20px;
		margin:0em;
	}
}


// IMAGE GALLERIES --------------------------
.image-gallery{
	ul{
		list-style:none;
	}
}


// Fact Sheet
.fact-sheet{
	.three.columns{
		margin-left:0;
		margin-top:4.25em;
	}
}


// press images
.press-images{
	figure{
		margin-right:0;
	}
	figure:first-child{
		margin-left:0;
	}

	figure:nth-child(5){
		margin-left:0;
	}
}


a.flex-next,
a.flex-prev{
	color:white;
	border-bottom:none;
	// opacity:1.0;
}

// PAST PRESIDENTS ---------------------------
.past-president{
	margin-bottom:2em;
}

.past-president-portrait{
	max-height:7em;
	opacity:0.5;
	mix-blend-mode: multiply;
	border-radius:100%;
	border:4px solid white;
	box-shadow:0px 0px 1px rgb(200,200,200);
	@include transition(opacity 0.5s ease-in-out);
}

.past-president:hover{
	.past-president-portrait{
		opacity:1.0;
	}
}

.past-president-portrait:hover{
	// opacity:1.0;
}


// SEARCH PROCESS -----------------------------

svg#search-process{

	max-width:100%;
	tspan,
	text{
		font-family:"Calibre Web";
		text-transform:uppercase;
		letter-spacing:0.05em;
		@media screen and (max-width:549px){
			font-size:32px;
		}
	}

	g#core-search-committee{
		rect{
			stroke-width:4px;
		}
	}
	
	g{
		rect{
			stroke-width:1px;
			stroke:$rust;
			@include transition(all 0.2s ease-in-out);
		}
	}

	g:hover{
		rect{
			fill:$rust;
		}
		tspan,
		text{
			fill:white;
		}
		
	}
}

// COMMITTEE MEMBERS --------------------------
.committee-group{
	border-bottom:1px solid rgb(220,220,220);
}

.committee-member{
	font-size:0.8em;
	line-height:1.5em;
}

.core.committee-member:nth-child(1),
.core.committee-member:nth-child(2),
.core.committee-member:nth-child(3){
	@media screen and (min-width:768px){
		min-height:15.5em;	
	}
	
}

.core.committee-member:nth-child(4),
.core.committee-member:nth-child(7){
	margin-left:0;
}

.core.committee-member:nth-child(4),
.core.committee-member:nth-child(5),
.core.committee-member:nth-child(6){
	min-height:8em;
}


// SECTIONS -----------------------------

#announcement{
	// background:#becfd5;
	// color:rgb(50,50,50);
	h2{
		// color:rgb(240,240,240);
	}
	.timeline-date{
		// color:$rust;
	}
}

img.side-rail{
	margin-top:1em;
}

