@import "viewports";

$l-space--xsmall: .5rem*$t-lineHeight--normal;
$l-space--small: 1rem*$t-lineHeight--normal;
$l-space--medium: 1.5rem*$t-lineHeight--normal;
$l-space--large: 2.5rem*$t-lineHeight--normal;
$l-space--xlarge: 4rem*$t-lineHeight--normal;
$l-space--xxlarge: 6rem*$t-lineHeight--normal;
$l-space--xxxlarge: 8rem*$t-lineHeight--normal;


@mixin l-ruleAbove() {
    border-top: 1px solid $c-one;
}

@mixin l-ruleBelow() {
    border-bottom: 1px solid $c-one;
}

@mixin l-container() {
    width: 100%;
    lost-center: 100%;
    align-items: baseline;
    overflow-x: hidden;
}

@mixin l-fixedPos($top: 0rem, $right: auto, $bottom: auto, $left: 0rem) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin l-absolutePos($top: 0rem, $right: auto, $bottom: auto, $left: 0rem) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin l-verticalRhythm {
    margin-bottom: $l-space--large;
    padding-bottom: $l-space--large;
}
@mixin l-horizontalRhythm {
    margin-right: $l-space--large;
    padding: $l-space--medium;
}

@mixin l-textWidth {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

@mixin l-autoSize {
    max-width: 100%;
    height: auto;
}

@mixin l-indent {
    margin-left: $l-space--large;
}


.wideColumn {
    lost-center: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}


.twoColumn {
    lost-center: 100%;
    padding: 0;
    margin: 0;
    @include v-tablet {
        lost-center: 80%;
    };
    img {
        width: 100%;
    }
}
.twoColumn-width--equal {
    lost-column: 1 1;
    box-sizing: border-box;

    @include v-tablet {
        lost-column: 1/2 2;
        @include l-horizontalRhythm;
        p {
            @include l-textWidth;
        }
        img {
            width: 100%;
        }
    };
}
//Smaller column to be paired with the larger column defined below.
.twoColumn-width--small {
    lost-column: 1 1;
    box-sizing: border-box;

    @include v-tablet {
        lost-column: 2/5 2;
        @include l-horizontalRhythm;
        p {
            @include l-textWidth;
        }
    };
}
.twoColumn-width--large {
    lost-column: 1 1;
    box-sizing: border-box;

    @include v-tablet {
        lost-column: 3/5 2;
        @include l-horizontalRhythm;
        p {
            @include l-textWidth;
        }
    };
}
