@import "viewports";

$l-space--xsmall: .5rem*$t-lineHeight--normal;
$l-space--small: 1rem*$t-lineHeight--normal;
$l-space--medium: 1.5rem*$t-lineHeight--normal;
$l-space--large: 2.5rem*$t-lineHeight--normal;
$l-space--xlarge: 4rem*$t-lineHeight--normal;
$l-space--xxlarge: 6rem*$t-lineHeight--normal;
$l-space--xxxlarge: 8rem*$t-lineHeight--normal;


@mixin l-ruleAbove() {
    border-top: 1px solid $c-one;
}

@mixin l-ruleBelow() {
    border-bottom: 1px solid $c-one;
}

@mixin l-container() {
    width: 100%;
    lost-center: 100%;
    align-items: baseline;
    overflow-x: hidden;
}

@mixin l-fixedPos($top: 0rem, $right: auto, $bottom: auto, $left: 0rem) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin l-absolutePos($top: 0rem, $right: auto, $bottom: auto, $left: 0rem) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin l-verticalRhythm {
    margin-bottom: $l-space--large;
    padding-bottom: $l-space--large;
}
@mixin l-horizontalRhythm {
    margin-right: $l-space--large;
    padding: $l-space--medium;
}

@mixin l-textWidth {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

@mixin l-autoSize {
    max-width: 100%;
    height: auto;
}

@mixin l-indent {
    margin-left: $l-space--large;
}


.wideColumn {
    max-width: 90%;
    margin: 0 auto;
}

.narrowColumn {
    max-width: 90%;
    margin: 0 auto;
    @include v-tablet {
        max-width: 80%;
    };
    @include v-laptop {
        max-width: 60%;
    };
    @include v-desktop {
        max-width: 40%;
    };
}
