$v-tablet--width: 768px;
$v-laptop--width: 1024px;
$v-desktop--width: 1824px;


@mixin v-tablet {
    @media (min-width: #{$v-tablet--width}) {
        @content;
    }
}

@mixin v-laptop {
    @media (min-width: #{$v-laptop--width}) {
        @content;
    }
}

@mixin v-desktop {
    @media (min-width: #{$v-desktop--width}) {
        @content;
    }
}

@mixin v-normalHeight {
    @media (min-aspect-ratio: 16/9) {
        @content;
    }
}

@mixin v-shortHeight {
    @media (min-aspect-ratio: 16/8) {
        @content;
    }
}

@mixin v-veryShortHeight {
    @media (min-aspect-ratio: 16/7) {
        @content;
    }
}
